<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>

<body>
    <div id="container">
        <h1>Welcome to the about page!</h1>
        <nav>
            <a href="/">Home</a>
            <a href="#">About</a>
        </nav>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo excepturi blanditiis recusandae culpa
            consequatur eum, nisi natus placeat temporibus saepe facilis laudantium libero. Tempora corporis
            perspiciatis exercitationem tempore asperiores corrupti!</p>
    </div>
</body>

</html>