<h1>{{name}}</h1>
<p>Welcome to {{title}}</p>
{{> _nav}}
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut necessitatibus repudiandae fugiat culpa, maiores magnam ea eos aliquam ducimus, sit distinctio eum, consequuntur recusandae harum nesciunt. Error debitis nobis ad.</p>