<<<<<<< HEAD

<nav>
    <a href="/">Index</a>
    <a href="/about">About</a>
    <a href="/form">Form</a>
=======
<nav>
    <a href="#">Index</a>
    <a href="#">About</a>
    <a href="#">Form</a>
>>>>>>> ed494cab33489d19642db265743c3358da20204d
</nav>